.preview-wrapper {
  position: relative;
  height: 100%;
  flex-grow: 1;
  overflow: hidden;
}

.preview-wrapper iframe {
  height: 100%;
  width: 100%;
  background-color: white;
}

.preview-error {
  position: absolute;
  top: 10px;
  left: 10px;
  color: red;
}

.react-draggable-transparent-selection .preview-wrapper::after {
  position: absolute;
  content: '';
  inset: 0;
  opacity: 0;
}
